.center{
    text-align: center;
}
.flag{
    height: 195px;
    width: 370px;
    margin-top: 150px;
    margin-left: 450px;
    border: black 2px solid;
}
.black{
    height: 65px;
    width: 370px;
    background-color: black;
}
.red{
    height: 65px;
    width: 370px;
    background-color:red;
}
.yellow{
    height: 65px;
    width: 370px;
    background-color: yellow;
}